<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Easy Pay GrandParents</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="https://fede-gestor-evaluaciones.herokuapp.com/users/sign_in">Fedesoft FullStack</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarRespons ive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Inicio
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" onclick="change(0)" >Servicios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" onclick="change(1)" >Contacto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" onclick="change(2)" >Ingresar o Registrarse</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</br></br>

<iframe id="Pagina" src="inicio" height="860px" width="1900"></iframe>

    <section class="py-5">
      <div class="container">
        <h1>Easy Pay GrandParents</h1>
        <p>Este sitio Web esta diseñado para ayudar a las personas en edad de adulto mayor a relaizar de forma facil, rapida y segura transacciones
           de tipo bancario o de su entidad de salud.</p>
      </div>
    </section>

    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; David Huertas-Miguel Chacon</p>
      </div>
    </footer>
  </body>

</html>
