<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<html>
  <head>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
  </head>
  <table>
    <tr>
      <td>
        <body id="LoginForm">
        <div class="container">
        <div class="login-form">
        <div class="main-div">
            <div class="panel">
           <h2 >Registrese</h2>
           <p>Ingrese los datos requeridos</p>
           </div>
            <form id="Login">
                <div class="form-group">
                    <input  class="form-control" id="inputEmail" placeholder="Nombre">
                </div>
                <div class="form-group">
                  <select class="form-control">
                    <option value="#">Tipo de documento</option>
                    <option value="T.I">T.I</option>
                    <option value="C.C">C.C</option>
                    <option value="C.E">C.E</option>
                    <option value="Passport">Pasaporte</option>
                  </select>
                </div>
                <div class="form-group">
                    <input  class="form-control" id="inputEmail" placeholder="Numero de documento">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Contraseña">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="inputPassword" placeholder=" Confirmar Contraseña">
                </div>
                <div class="form-group">
                  <select class="form-control">
                    <option value="#">Tipo de contacto</option>
                    <option value="Fijo">Fijo</option>
                    <option value="Celular">Celular</option>
                  </select>
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" id="Telefono" placeholder="Numero de contacto">
                </div>
                <button type="submit" class="btn btn-primary">Registrarse</button>
            </form>
            </div>
        </div></div>
        </body>
      </td>
      <td>
        <body id="LoginForm">
        <div class="container">
        <div class="login-form">
        <div class="main-div">
            <div class="panel">
           <h2 >Inicio de Sesion</h2>
           <p>Ingrese los datos requeridos</p>
           </div>
            <form id="Login">
                <div class="form-group">
                  <select id="LTypedoc" class="form-control">
                    <option value="#">Tipo de documento</option>
                    <option value="T.I">T.I</option>
                    <option value="C.C">C.C</option>
                    <option value="C.E">C.E</option>
                    <option value="Passport">Pasaporte</option>
                  </select>
                </div>
                <div class="form-group">
                    <input  class="form-control" id="LNumdoc" placeholder="Numero de documento">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="LPassword" placeholder="Contraseña">
                </div>
                <div class="forgot">
                  <a href="reset.html">Forgot password?</a>
                </div>
                <button type="submit" id = "Login" class="btn btn-primary">iniciar Sesion</button>
            </form>
            </div>
        </div></div>
        </body>
      </td>
    </tr>
  </table>
</html>
