<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<html>
  <head>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
  </head>
  <table>
    <tr>
      <td>
        <body id="LoginForm">
        <div class="container">
        <div class="login-form">
        <div class="main-div">
            <div class="panel">
           <h2 >Registrese</h2>
           <p>Ingrese los datos requeridos</p>
           </div>
            <form id="Login">
                <div class="form-group">
                    <input  class="form-control" id="NombreR" onkeyup="VerificarNombre()" placeholder="Nombre" >
                </div>
                <div class="form-group">
                  <select id="TipoDocR" class="form-control">
                    <option value="#">Tipo de documento</option>
                    <option value="T.I">T.I</option>
                    <option value="C.C">C.C</option>
                    <option value="C.E">C.E</option>
                    <option value="Passport">Pasaporte</option>
                  </select>
                </div>
                <div class="form-group">
                    <input  class="form-control" id="NumeroDocumentoR" onkeyup="VerificarNumeroDocumento()" maxlength="10" placeholder="Numero de documento">
                </div>
                <div class="form-group">
                    <input type="password" id="ContrasenaR" class="form-control" placeholder="Contrase単a">
                </div>
                <div class="form-group">
                    <input type="password" id="ConfirmContrasenaR"  onkeyup="VerificarContrasena()"  class="form-control" id="inputPassword" placeholder=" Confirmar Contrase単a">
                    <div id ="passwordError" class="dropdown-content">
                      <p>Las contrase単as no coinciden.</p>
                      </div>
                </div>
                <div class="form-group">
                  <select id="TipoContactoR" onchange="VerificarTipoContact()" class="form-control">
                    <option value="#">Tipo de contacto</option>
                    <option value="Fijo">Fijo</option>
                    <option value="Celular">Celular</option>
                  </select>
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" id="NumeroContactoR" onkeyup="VerificarNumeroContacto()" placeholder="Numero de contacto">
                </div>
                  <a href="/users.json"><button  type="submit" id = "BTNRegistro"class="btn btn-primary" disabled>Regsitrarse</button></a>
            </form>
            </div>
        </div></div>
        </body>
      </td>
      <td>
        <body id="LoginForm">
        <div class="container">
        <div class="login-form">
        <div class="main-div">
            <div class="panel">
           <h2 >Inicio de Sesion</h2>
           <p>Ingrese los datos requeridos</p>
           </div>
            <form id="Login">
                <div class="form-group">
                  <select id="LTypedoc" onchange="VerificarTipoDocumentoLogin()" class="form-control">
                    <option value="#">Tipo de documento</option>
                    <option value="T.I">T.I</option>
                    <option value="C.C">C.C</option>
                    <option value="C.E">C.E</option>
                    <option value="Passport">Pasaporte</option>
                  </select>
                </div>
                <div class="form-group">
                    <input  class="form-control" onkeyup="VerificarNumeroDocumentoLogin()" id="LNumdoc" placeholder="Numero de documento">
                </div>
                <div class="form-group">
                    <input type="password" onkeyup="VerificarContrasenaLogin()" class="form-control" id="LPassNum" placeholder="Contrase単a">
                </div>
                <div class="forgot">
                  <a href="reset.html">Forgot password?</a>
                </div>
                  <button  type="submit" id="BTNLogin" class="btn btn-primary" disabled>iniciar Sesion</button>
            </form>
            </div>
        </div></div>
        </body>
      </td>
    </tr>
  </table>
</html>
